@page
@model burger_market.Pages.Admin.IndexModel
@{
}

<h1>Vous deves vous authentifier</h1><br/>

@if (!Model.loginValid)
{
    <p class="alert-danger">Error : Ce compte n'existe pas</p>
}

<form method="post">
<input type="text" name="username" placeholder="Login"><br/><br/>
<input type="password" name="password" placeholder="Mot de passe"><br/><br/>
<button>Se connecter</button>
</form>
